beautifulsoup4==4.13.4
bs4==0.0.2
cachetools==6.1.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.2
colorama==0.4.6
coverage==7.9.1
distlib==0.3.9
docformatter==1.7.7
filelock==3.18.0
identify==2.6.12
iniconfig==2.1.0
nodeenv==1.9.1
packaging==25.0
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
Pygments==2.19.2
pyproject-api==1.9.1
pytest==8.4.1
python-marmiton==0.4.2
PyYAML==6.0.2
ruff==0.12.0
setuptools==80.9.0
soupsieve==2.7
tox==4.27.0
typing_extensions==4.14.0
untokenize==0.1.1
virtualenv==20.31.2
